
//引入页头
@import url('header.less');


//公共类
@border: 1px solid #ddd;

//横向出现滚动条
body{
    overflow-x: hidden;
}

.main{
    .row{
        margin: 20px 0 50px 0;
        #accordion{
            .panel-title{
                a{
                    color: #23527c;
                }
            }
            .panel-body{
                .proClick{
                    list-style: none;
                    padding: 0;
                    li{
                        line-height: 30px;
                        &.active{
                            background-color: #337ab7;
                            a{
                                color: #fff;
                            }
                        }
                        a{
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        //右侧部分开始
        .rMessage{
            position: relative;
            border: @border;
            border-radius: 10px;
            padding: 10px 0 0 10px;

            .rMessage_top{
                height: 120px;
                border-bottom: @border;
                &>div:first-child{
                    padding: 0;
                    margin: 0;
                    img.img-thumbnail{
                        padding: 10px;
                        width: 100px;
                        height: 100px;
                        margin-top: 5px;
                        box-sizing: border-box;
    
                    }
                }
                &>div:last-child{
                    padding: 15px 0 0 0;
                    // margin-left: -25px;
                }
                
            }
            .rMessage_btm{
                padding: 10px 0 0 0;
                div{
                    P{
                        padding: 0;
                        margin: 0;
                    } 
                }
                .money{
                    font-size: 18px;
                    height: 100px;
                    margin-bottom: 30px;
                    span{
                        color: #337ab7;
                    }
                    p:nth-of-type(2){
                        button{
                            width: 100px;
                            margin-top: 20px;
                            padding: 10px;
                        }
                    }
                }

                .verify{
                    .shot{
                        display: flex;
                        flex-direction: row; //水平显示
                        flex-wrap: wrap; //换行 
                        margin-bottom: 15px;
                        
                        div:first-child{
                            margin-right: 10px;
                        }
                        .mb{
                            margin-bottom: 3px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .bt{
                margin-top: 40px;
                .shot{
                    display: flex;
                    flex-direction: row; //水平显示
                    flex-wrap: wrap; //换行 
                    margin-bottom: 15px;
                    
                    div:first-child{
                        margin-right: 10px;
                    }
                    .mb{
                        margin-bottom: 3px;
                        font-weight: bold;
                    }
                }
            }
            #toggleMenu{
                position: absolute;
                display: none;
                left: 0px;
                top: 0px;
            }
        }
    }
}


@media all and (max-width: 768px){
    #mainContent{
        position: relative;
        left: 0px; //菜单展开的状态
        transition: all 0.8s ease-in-out;
        
        min-height: 900px;
        
        
        #leftMenu{
            position: absolute;
            left: 0px;
        }
        
        #rightCon{
            #toggleMenu{
                display: inline-block;
            }
                
            position: absolute;
            right: -50%;
        }
    }
    
    //菜单收起的状态
    #mainContent.active{
        left: -50%;
    }
}

//页脚
@import url('footer.less');