//公共类
@border: 1px solid #ddd;

.main{
    .row{
        div{
            &>ul{
                list-style: none;
                border: @border;
                border-top: none;
                padding: 0;
                margin: 10px 0 30px 0;
                border-radius: 10px;
                
                &>li{
                    background-color: #F5F5F5;
                    border-top: @border;
                    line-height: 35px;
                    text-indent: 2em;
                    &>a{
                        text-decoration: none;
                        cursor: pointer;
                    }
                    &>ul{
                        padding: 0;
                        margin: 0;
                        border-top: @border;  
                        list-style: none;
                        text-indent: 2em;
                        background-color: #fff;
                        li{
                            a{
                                text-decoration: none;
                                cursor: pointer;
                                margin-left: 20px;
                            }
                        }
                        .active{
                            background-color: #337ab7;
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
                &>li:first-child{
                    border-radius: 10px 10px 0 0;
                }
                &>li:last-child{
                    border-radius: 0 0 10px 10px;
                }
            }
        }

        //右侧部分开始
        .rMessage{
            border: @border;
            // height: 500px;
            margin-top: 10px;
            border-radius: 10px;
            padding: 10px 0 0 10px;

            .rMessage_top{
                height: 120px;
                border-bottom: @border;
                &>div:first-child{
                    padding: 0;
                    margin: 0;
                    img.img-thumbnail{
                        padding: 10px;
                        width: 100px;
                        height: 100px;
                        margin-top: 5px;
                        box-sizing: border-box;
    
                    }
                }
                &>div:last-child{
                    padding: 15px 0 0 0;
                    margin-left: -25px;
                }
                
            }
            .rMessage_btm{
                padding: 10px 0 0 0;
                div{
                    P{
                        padding: 0;
                        margin: 0;
                    } 
                }
                .money{
                    font-size: 18px;
                    height: 100px;
                    margin-bottom: 30px;
                    span{
                        color: #337ab7;
                    }
                    p:nth-of-type(2){
                        button{
                            width: 100px;
                            margin-top: 20px;
                            padding: 10px;
                        }
                    }
                }

                .verify{
                    .shot{
                        display: flex;
                        flex-direction: row; //水平显示
                        flex-wrap: wrap; //换行 
                        margin-bottom: 15px;
                        
                        div:first-child{
                            margin-right: 10px;
                        }
                        .mb{
                            margin-bottom: 3px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .bt{
                margin-top: 40px;
                .shot{
                    display: flex;
                    flex-direction: row; //水平显示
                    flex-wrap: wrap; //换行 
                    margin-bottom: 15px;
                    
                    div:first-child{
                        margin-right: 10px;
                    }
                    .mb{
                        margin-bottom: 3px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}